body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/05/15/52/calculator-2374442_960_720.png');
    background-color: #000000;
    background-size: 50vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: chartreuse;
    margin-top: 5px;
    font-size: 30px;
  }