body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #1481e7;
    background-size: 50vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: chartreuse;
    margin-top: 5px;
    font-size: 30px;
  }

  .container2 {
    text-align: start;
  }

  .calculadora {
      width: 250px;
      position: absolute;
      top: 150px;
      right: 150px;
  }